@font-face {
    font-family:'sally face';
    src: url('Swamp\ Witch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;   
}
@font-face {
    font-family:'text sally';
    src: url(DHF\ Story\ Brush.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    align-items: center;
    background-image: linear-gradient(to top, rgb(35, 29, 57) 30% , rgb(0, 0, 0) 50%);
    height: 100%;

}

nav {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(7, 0, 20) 40%, rgb(1, 20, 29));
    border-radius: 15px;
    margin-top: 6px;
    
}
nav a {
    font-family:'sally face';
    text-decoration: none;
    padding: 16px 40px;
    display: table;
    font-size: 35px;
    color: #61c7ce;
    letter-spacing: 10px;
    align-items: center;

}
nav a:hover {
    background-color: #000000;

}
.lego{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 0px;
    text-align: center;
}
.texto{
    align-items: center;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 20%,rgb(19 17 20));
    text-align: center;
    font-size: 25px;
    color: #337a80;
    font-family: 'text sally';
}
.formu{
    align-items: center;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-image: linear-gradient(to left, rgb(0, 0, 0) 20%,rgb(19 17 20));
    text-align: center;
    font-size: 25px;
    color: #337a80;
    font-family: 'text sally';
    
}

input{
background-image: linear-gradient(to right, rgb(14, 14, 14),rgb(19 17 20));
border:#000000;
border-radius: 10px;
height: 30px;
width: 600px;
color: #ffffff;
font-size: 18px;
}

textarea{
    background-image: linear-gradient(to right, rgb(14, 14, 14),rgb(19 17 20));
    border:#000000;
    border-radius: 10px;
    height: 50px;
    width: 600px;
    color: #ffffff;
    font-size: 18px;
}

.bate{
    align-items: center;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 20%,rgb(19 17 20));
    text-align: center;
    font-size: 33px;
}
button{
    color: rgb(255, 255, 255);
    font-family: 'text';
    background-image: linear-gradient(to left, #131022, rgb(8, 8, 8));
    text-decoration: none;
    padding: 15px 20px;
    display: center;
    font-size: 50px;
    border: none;
    border-radius: 20px;
    width: 300px;
}
button:hover{
    background-image: linear-gradient(to right, #131022, #0e0c0e);
}

footer{
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    text-align: center;
    color: #000000;
    background-color: rgb(35, 29, 57);
}